<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no"">
    <title>BETNET</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <% include ./partials/header %>
    <div class="app-content">
        <div class="content-row"><%= user.last_name +" "+ user.first_name%></div>
        <div class="content-row"><%= user.email%></div>
        <div class="content-row"><%= user.country%></div>
        <div class="content-row"><%= user.street_address%></div>
        <div class="content-row"><%= user.city%></div>
        <div class="content-row"><%= user.state%></div>
        <div class="content-row"><%= user.zip%></div>
        <div class="content-row"><%= user.phone_number%></div>
        <div class="content-row"><%= user.date_of_birth%></div>
    </div>
    <% include ./partials/footer %>
  </body>
  
</html>